<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../dist/css/main.css" rel="stylesheet">
</head>


<body class="static p-0 text-white bg-dirt">

  <nav class="sticky top-0 flex justify-between h-16 max-w-lg px-16 py-2 mx-auto -mt-16">
    <div>
      <img src="../src/images/site/john-hoysa-logo.svg" alt="Logo" width="152px" height="32px">
    </div>
    <ul class="flex gap-10 text-white">
      <li>
        <a class="hover:border-b hover:pb-1 border-pine-cone" href="#skills">Skills</a>
      </li>
      <li>
        <a class="hover:border-b hover:pb-1 border-pine-cone" href="#projects">Projects</a>
      </li>
      <li>
        <a class="hover:border-b hover:pb-1 border-pine-cone" href="#about">About</a>
      </li>
      <li>
        <a class="hover:border-b hover:pb-1 border-pine-cone" href="#cv">CV</a>
      </li>

    </ul>
    <ul class="flex gap-y-6">
      <li>
        <a href="#linkedin">LinkedIn</a>
      </li>
      <li>
        <a href="#git">GitHub</a>
      </li>
      <li>
        <a href="#email">Email</a>
      </li>
    </ul>
  </nav>

  <header class="flex bg-top bg-repeat-x bg-contain bg-hero h-hero-height">
    <div class="flex items-center max-w-lg px-16 mx-auto">
      <h2 class="text-5xl font-primary text-primary">
        I'm a seasoned
        front-end developer
        with a strong
        background in
        HTML,
        CSS,
        JavaScript,
        and building web
        experiences for both content management systems and e-commerce platforms.</h2>
    </div>
  </header>



  <main>
    <div class="container max-w-lg px-16 mx-auto">
      <section class="max-w-md px-4 pb-4 mt-40 bg-dirt-400 pt-28 rounded-2xl">
        <h2 class="pl-4 text-5xl text-primary">Key Skills</h2>
        <p class="w-1/2 pt-4 pl-4">Supporting subcopy that speaks to the key beneift and why they matterLorem ipsum
          dolor sit
          amet consectetur.
          Egestas pulvinar habitasse sed id feugiat arcu massa velit arcu. Consequat enim leo pharetra vulputate. Mattis
          platea vitae rutrum faucibus fames.</p>
        <div class="flex mt-8 bg-dirt-300 rounded-2xl">
          <div class="px-4 py-9">
            <span>Image Here</span>
            <h3 class="text-3xl text-primary">Development</h3>
            <p>PSupporting subcopy that speaks to the key beneift and why they matterLorem ipsum dolor sit amet
              consectetur.
              Egestas pulvinar habitasse sed id feugiat arcu massa velit arcu. Consequat enim leo pharetra vulputate.
              Mattis
              platea vitae rutrum faucibus fames.</p>
          </div>
          <div class="px-4 py-9">
            <span>Image Here</span>
            <h3 class="text-3xl text-primary">Development</h3>
            <p>Supporting subcopy that speaks to the key beneift and why they matterLorem ipsum dolor sit amet
              consectetur.
              Egestas pulvinar habitasse sed id feugiat arcu massa velit arcu. Consequat enim leo pharetra vulputate.
              Mattis
              platea vitae rutrum faucibus fames.</p>

          </div>

          <div class="px-4 py-9">
            <span>Image Here</span>
            <h3 class="text-3xl text-primary">Development</h3>
            <p>Supporting subcopy that speaks to the key beneift and why they matterLorem ipsum dolor sit amet
              consectetur.
              Egestas pulvinar habitasse sed id feugiat arcu massa velit arcu. Consequat enim leo pharetra vulputate.
              Mattis
              platea vitae rutrum faucibus fames.</p>

          </div>
        </div>
      </section>
    </div>

    <div class="container max-w-lg px-16 mx-auto">
      <section class="max-w-md pb-4 mt-20 pt-28">
        <h2 class="text-5xl text-primary">Projects</h2>
        <p class="w-1/2 pt-4">Supporting subcopy that speaks to the key beneift and why they matterLorem ipsum dolor
          sit amet consectetur.
          Egestas pulvinar habitasse sed id feugiat arcu massa velit arcu. Consequat enim leo pharetra vulputate. Mattis
          platea vitae rutrum.</p>
        <div class="grid grid-cols-3 gap-6 mt-8">
          <div class="project-card">

            <img class="rounded-2xl aspect-[16/9]" src="../src/images/project-images/avail-2.jpg">


            <h3 class="mt-4 text-4xl text-primary">Project Name</h3>
            <p class="mt-2 leading-6 text-primary">HTML,CSS, CMS</p>
            <p class="mt-4">Supporting subcopy that speaks to the key beneift and why they matterLorem ipsum dolor sit
              amet
              consectetur.
              Egestas pulvinar habitasse sed id feugiat arcu massa velit arcu. Consequat enim leo pharetra vulputate.
              Mattis
              platea vitae rutrum faucibus fames.</p>

          </div>
          <div class="project-card">

            <img class="rounded-2xl aspect-[16/9]" src="../src/images/project-images/avail-2.jpg">


            <h3 class="mt-4 text-4xl text-primary">Project Name</h3>
            <p class="mt-2 leading-6 text-primary">HTML,CSS, CMS</p>
            <p class="mt-4">Supporting subcopy that speaks to the key beneift and why they matterLorem ipsum dolor sit
              amet
              consectetur.
              Egestas pulvinar habitasse sed id feugiat arcu massa velit arcu. Consequat enim leo pharetra vulputate.
              Mattis
              platea vitae rutrum faucibus fames.</p>

          </div>
          <div class="project-card">

            <img class="rounded-2xl aspect-[16/9]" src="../src/images/project-images/avail-2.jpg">


            <h3 class="mt-4 text-4xl text-primary">Project Name</h3>
            <p class="mt-2 leading-6 text-primary">HTML,CSS, CMS</p>
            <p class="mt-4">Supporting subcopy that speaks to the key beneift and why they matterLorem ipsum dolor sit
              amet
              consectetur.
              Egestas pulvinar habitasse sed id feugiat arcu massa velit arcu. Consequat enim leo pharetra vulputate.
              Mattis
              platea vitae rutrum faucibus fames.</p>

          </div>
          <div class="project-card">

            <img class="rounded-2xl aspect-[16/9]" src="../src/images/project-images/avail-2.jpg">


            <h3 class="mt-4 text-4xl text-primary">Project Name</h3>
            <p class="mt-2 leading-6 text-primary">HTML,CSS, CMS</p>
            <p class="mt-4">Supporting subcopy that speaks to the key beneift and why they matterLorem ipsum dolor sit
              amet
              consectetur.
              Egestas pulvinar habitasse sed id feugiat arcu massa velit arcu. Consequat enim leo pharetra vulputate.
              Mattis
              platea vitae rutrum faucibus fames.</p>

          </div>
          <div class="project-card">

            <img class="rounded-2xl aspect-[16/9]" src="../src/images/project-images/avail-2.jpg">


            <h3 class="mt-4 text-4xl text-primary">Project Name</h3>
            <p class="mt-2 leading-6 text-primary">HTML,CSS, CMS</p>
            <p class="mt-4">Supporting subcopy that speaks to the key beneift and why they matterLorem ipsum dolor sit
              amet
              consectetur.
              Egestas pulvinar habitasse sed id feugiat arcu massa velit arcu. Consequat enim leo pharetra vulputate.
              Mattis
              platea vitae rutrum faucibus fames.</p>

          </div>
          <div class="project-card">

            <img class="rounded-2xl aspect-[16/9]" src="../src/images/project-images/avail-2.jpg">


            <h3 class="mt-4 text-4xl text-primary">Project Name</h3>
            <p class="mt-2 leading-6 text-primary">HTML,CSS, CMS</p>
            <p class="mt-4">Supporting subcopy that speaks to the key beneift and why they matterLorem ipsum dolor sit
              amet
              consectetur.
              Egestas pulvinar habitasse sed id feugiat arcu massa velit arcu. Consequat enim leo pharetra vulputate.
              Mattis
              platea vitae rutrum faucibus fames.</p>

          </div>


        </div>


      </section>
    </div>


    <section class="mt-24 bg-bottom bg-repeat-x bg-contain bg-footer-trees">
      <div class="grid max-w-md grid-cols-6 gap-6 pb-4 mx-auto ">
        <div class="col-span-2 justify-self-end">
          <img src="../src/images/site/john-hoysa-about.png" width="180px" height="180px" alt="Image of John Hoysa">
        </div>
        <div class="col-span-3">
          <h2 class="text-5xl text-primary">About</h2>
          <p class="mt-4">I'm a multidiscipline front-end developer with extensive experience in HTML, CSS, JavaScript,
            Craft CMS,
            Adobe Experience Manager, Web Vitals, and E-Commerce development. I enjoy working as a team with product
            owners, stakeholders and creatives to bring ideas to life, produce results and sustain product
            manageability.
            During my time at MRM, I leveraged Adobe Experience Manager (AEM) and Magento's GraphQL to craft distinctive
            user experiences that enhanced sales and customer loyalty across diverse global markets. Clients included
            Nescafé Dolce Gusto and BAT.</p>
          <p>something At MacSales.com, a global leader in Mac and Apple upgrades, I helped with the redesign and
            development of their e-commerce platform, leading to improvement in the site's overall organization and
            manageability. I have put the E-Commerce site on Craft CMS to manage the content. The project was a huge
            undertaking, but incredibly rewarding as it allowed me to wear different hats and continually see results.
          </p>
        </div>
      </div>
    </section>

  </main>


  <footer class="pt-20 bg-black ">
    <div class="grid max-w-lg grid-cols-6 gap-6 px-16 py-2 pb-4 mx-auto ">
      <section class="col-span-2">
        <h2 class="text-5xl text-primary">Ready to work together?</h2>
        <p class="mt-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua..</p>
        <button class="flex mt-8">
          Call to action
          <object class="ml-2 fill-primary" data="../src/images/icons/arrow.svg" width="24px" height="24px"> </object>
        </button>
      </section>

      <section class="flex flex-col col-span-4 place-content-end place-items-end">
        <img class="" src="../src/images/site/john-hoysa-logo.svg" alt="Logo" width="152px" height="32px">
        <p>© 2024 The Design Standard LLC. | Jeff McAllister. All Rights Reserved.</p>
      </section>


    </div>
  </footer>
</body>

</html>