<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../src/output.css" rel="stylesheet">
</head>

<body class="static p-0 text-white bg-dirt">

  <nav class="sticky top-0 flex justify-between h-16 max-w-lg px-16 py-2 mx-auto -mt-16">
    <div>
      <img src="../src/images/logos/john-hoysa-logo.svg" alt="Logo" width="152px" height="32px">
    </div>
    <ul class="flex gap-10 text-white">
      <li>
        <a class="hover:border-b hover:pb-1 border-pine-cone" href="#skills">Skills</a>
      </li>
      <li>
        <a class="hover:border-b hover:pb-1 border-pine-cone" href="#projects">Projects</a>
      </li>
      <li>
        <a class="hover:border-b hover:pb-1 border-pine-cone" href="#about">About</a>
      </li>
      <li>
        <a class="hover:border-b hover:pb-1 border-pine-cone" href="#cv">CV</a>
      </li>
    </ul>
    <ul class="flex gap-y-6">
      <li>
        <a href="#linkedin">LinkedIn</a>
      </li>
      <li>
        <a href="#git">GitHub</a>
      </li>
      <li>
        <a href="#email">Email</a>
      </li>
    </ul>
  </nav>

  <header class="static flex bg-top bg-contain bg-hero py-28">
    <h2 class="max-w-lg px-16 mx-auto tracking-tighter font-primary text-primary text-7xl">I'm a seasoned
      front-end developer
      with a strong
      background in
      HTML,
      CSS,
      JavaScript,
      and building web
      experiences for both content management systems and e-commerce platforms.</h2>
  </header>



  <main class="container max-w-lg px-16 mx-auto">
    <section class="max-w-md px-16 pb-4 mt-40 bg-dirt-400 pt-28 rounded-2xl">
      <h2 class="text-5xl text-primary">Key Skills</h2>
      <p class="w-1/2">Supporting subcopy that speaks to the key beneift and why they matterLorem ipsum
        dolor sit
        amet consectetur.
        Egestas pulvinar habitasse sed id feugiat arcu massa velit arcu. Consequat enim leo pharetra vulputate. Mattis
        platea vitae rutrum faucibus fames.</p>
      <div class="flex mt-8 bg-dirt-300 rounded-2xl">
        <div class="px-4 py-9">
          <span>Image Here</span>
          <h3 class="text-3xl text-primary">Development</h3>
          <p>PSupporting subcopy that speaks to the key beneift and why they matterLorem ipsum dolor sit amet
            consectetur.
            Egestas pulvinar habitasse sed id feugiat arcu massa velit arcu. Consequat enim leo pharetra vulputate.
            Mattis
            platea vitae rutrum faucibus fames.</p>
        </div>
        <div class="px-4 py-9">
          <span>Image Here</span>
          <h3 class="text-3xl text-primary">Development</h3>
          <p>Supporting subcopy that speaks to the key beneift and why they matterLorem ipsum dolor sit amet
            consectetur.
            Egestas pulvinar habitasse sed id feugiat arcu massa velit arcu. Consequat enim leo pharetra vulputate.
            Mattis
            platea vitae rutrum faucibus fames.</p>

        </div>

        <div class="px-4 py-9">
          <span>Image Here</span>
          <h3 class="text-3xl text-primary">Development</h3>
          <p>Supporting subcopy that speaks to the key beneift and why they matterLorem ipsum dolor sit amet
            consectetur.
            Egestas pulvinar habitasse sed id feugiat arcu massa velit arcu. Consequat enim leo pharetra vulputate.
            Mattis
            platea vitae rutrum faucibus fames.</p>

        </div>
      </div>
    </section>
    <section>
      <h2>Projects</h2>
      <p>Supporting subcopy that speaks to the key beneift and why they matterLorem ipsum dolor sit amet consectetur.
        Egestas pulvinar habitasse sed id feugiat arcu massa velit arcu. Consequat enim leo pharetra vulputate. Mattis
        platea vitae rutrum.</p>
      <div>
        <div>
          <span>Image Here</span>
          <h3>Project Name</h3>
          <p>Supporting subcopy that speaks to the key beneift and why they matterLorem ipsum dolor sit amet
            consectetur.
            Egestas pulvinar habitasse sed id feugiat arcu massa velit arcu. Consequat enim leo pharetra vulputate.
            Mattis
            platea vitae rutrum faucibus fames.</p>

        </div>
        <div>
          <span>Image Here</span>
          <h3>Project Name</h3>

          <p>Supporting subcopy that speaks to the key beneift and why they matterLorem ipsum dolor sit amet
            consectetur.
            Egestas pulvinar habitasse sed id feugiat arcu massa velit arcu. Consequat enim leo pharetra vulputate.
            Mattis
            platea vitae rutrum faucibus fames.</p>

        </div>

        <div>
          <span>Image Here</span>
          <h3>Project Name</h3>

          <p>Supporting subcopy that speaks to the key beneift and why they matterLorem ipsum dolor sit amet
            consectetur.
            Egestas pulvinar habitasse sed id feugiat arcu massa velit arcu. Consequat enim leo pharetra vulputate.
            Mattis
            platea vitae rutrum faucibus fames.</p>

        </div>
        <div>
          <span>Image Here</span>
          <h3>Project Name</h3>
          <p>Supporting subcopy that speaks to the key beneift and why they matterLorem ipsum dolor sit amet
            consectetur.
            Egestas pulvinar habitasse sed id feugiat arcu massa velit arcu. Consequat enim leo pharetra vulputate.
            Mattis
            platea vitae rutrum faucibus fames.</p>

        </div>
        <div>
          <span>Image Here</span>
          <h3>Project Name</h3>

          <p>Supporting subcopy that speaks to the key beneift and why they matterLorem ipsum dolor sit amet
            consectetur.
            Egestas pulvinar habitasse sed id feugiat arcu massa velit arcu. Consequat enim leo pharetra vulputate.
            Mattis
            platea vitae rutrum faucibus fames.</p>

        </div>

        <div>
          <span>Image Here</span>
          <h3>Project Name</h3>

          <p>Supporting subcopy that speaks to the key beneift and why they matterLorem ipsum dolor sit amet
            consectetur.
            Egestas pulvinar habitasse sed id feugiat arcu massa velit arcu. Consequat enim leo pharetra vulputate.
            Mattis
            platea vitae rutrum faucibus fames.</p>

        </div>

      </div>


    </section>
    <section>
      <div>Image</div>
      <div>
        <h2>About</h2>
        <p>Just some text for now</p>
      </div>
      <section>
  </main>
  <footer>
    <div>
      <h2>Ready to work together?</h2>
      <p>Call to action text goes here.</p>
      <p>
        CTA</p>
    </div>
    <div>
      <h2>John Hoysa</h2>
      <p>© 2024 The Design Standard LLC. | Jeff McAllister. All Rights Reserved.</p>
    </div>
  </footer>
</body>

</html>