
@font-face {
  font-family: 'Clarika Grotesque';
  font-style: normal;
  font-weight: Light;
  font-display: swap;
  src: url('../../assets/fonts/clarika-grotesque/Clarika Grotesque Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Clarika Grotesque';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../assets/fonts/clarika-grotesque/Clarika Grotesque Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Clarika Grotesque';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../assets/fonts/clarika-grotesque/Clarika Grotesque Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Clarika Grotesque';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../assets/fonts/clarika-grotesque/Clarika Grotesque DemiBold.ttf') format('truetype');
}

